<!DOCTYPE html>
<html>
  <head>
    <title>breeds</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="search">
      <% if (locals.optionsList) { %>
        <select id="select-element" onchange="saveSelectValue(this)">
          <option value="" selected disabled hidden>Choose here</option>
          <%- optionsList %>
        </select>
        <% } %>
      <button class="btn" value="Refresh Page" onClick="window.location.href=window.location.href">refresh</button>
    </div>
    <div class="photo">
      <% if (locals.img) { %>
        <div class="img"><%- img %></div>
      <% } %>
    </div>
   
   
    <script src="/js/main.js"></script>

  </body>
</html> 