<!DOCTYPE html>
<html>
  <head>
    <title>breeds</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="name">
      <% if (locals.name) { %>
          <%- name %>
        <% } %>
    </div>
    
    <% if (locals.filmsList) { %>
      <p>Films:</p>
      <div class="films">
        <%- filmsList %>
      </div>
    <% } %>
    

   
    <script src="/js/main.js"></script>

  </body>
</html> 