* {
  box-sizing: border-box;
}
body {
  background: url(../images/wallpapers.jpg);
  background-size: cover;
}
.name {
  width: 50%;
  height: 10vh;
  font-size: 60px;
  text-align: center;
  color: white;
}
#select-element {
  font-size: 30px;
  text-align: center;
}
.films{
  width: 90%;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}
.film{
  width: 10%;
  height: 40vh;
  background: rgba(3, 3, 3, 0.295);
  opacity: 0.8;
  color: white;
}

li{
  font-size: 20px;
  color: white;
}
.img {
  text-align: center;
}